.articlesCards_section {
  border: 1px solid gray;
  margin-bottom: 16px;
  border-radius: 10px;
  text-align: left;
}

.article_cards_readmore {
  text-decoration: none;
}

.articleCards_image {
  display: flex;
}
.articleCards_img {
  width: 15em;
  height: 15em;
  border-radius: 10px 0px 0px;
}

.articlesCards_title {
  padding: 1em;
}

.articleCards_info {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e9;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 600px) {
  .articlesCards_section {
    text-align: left;
  }
  .articlesCards_title {
    font-size: small;
  }

  .articleCards_img {
    width: 7em;
    height: 11em;
    border-radius: 10px 0px 0px;
  }

  .articleCards_info {
    font-size: small;
    padding: 5px;
  }
}
